html, body {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("https://cdn.discordapp.com/attachments/340557696275054612/433687862169305098/image.jpg");
  background-color: rgba(113,118,127,.8);
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
}
#titlesplash {
  height:50vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
