html, body {
  height: 100%;
  background: linear-gradient(#0E0b16, #121223);
  background-repeat: no-repeat;
  color: #e7bfdd;
}

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}
#titlesplash {
    height: 70vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
}

/*Palette:
Black (main): #0e0b16
White (text): #e7bfdd
Navy (highight): #062f4f
Red (highlight): #b82601
*/
