body {
  background: linear-gradient(#0E0b16, #121223);
  background-repeat: no-repeat;
  color: #e7bfdd;
  height: 100vh;
  width: 100vh;
}
.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
  font-size: 8vh;
}

/*Palette:
Black (main): #0e0b16
White (text): #e7bfdd
Navy (highight): #062f4f
Red (highlight): #b82601
*/
