<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resource">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="stats">Stats</a>
        <a class="item" data-tab="growths">Growths</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    <div class="tab stats active" data-tab="stats">
        <span name = "stats.hp.class.value" value="{{stats.hp.class.value}}"></span>
        <span name = "stats.hp.bd.value" value="{{stats.hp.bd.value}}"></span>
        <input type="text" name="stats.hp.personal.value" value="{{stats.hp.personal.value}}" data-dtype="Number"/>
    </div>

    <div class="tab growths active" data-tab="growths">
        <div class="editor-content" data-edit="data.biography.value">{{{data.biography.value}}}</div>
    </div>

    <div class="tab items" data-tab="items">
        <ol class="items-list">
        {{#each actor.items as |item id|}}
            <li class="item" data-item-id="{{item.id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </div>

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
</form>
