.circle .tooltip {
    visibility: hidden;
    width: 12vw;
    bottom: 100%;
    left: 50%;
    margin-left: -6vw;
    background-color: rgba(52, 27, 43, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 2vh;
    margin-bottom: 5px;
    font-family: "Lato";
}

/* Show the tooltip text when you mouse over the tooltip container */
.circle:hover .tooltip {
    visibility: visible;
    word-wrap: break-word;
}

header .d20 {
  height: 16%;
  width: 4.5%;
  right: 0px;
  background-image: url("images/d20.png");
  background-repeat: none;
  margin: 0 auto;
  display: inline-block;
  opacity: .35
}
@media screen and (max-width: 890px){
    header .d20 {
        width: 6%;
    }
    .linkch {
      width: 100%;
    }
    .tutorialimg {
      width: 100%;
    }
}
@media screen and (max-width: 700px){
    header .d20 {
        width: 7%;
    }
}
@media screen and (max-width: 640px){
    header .d20 {
        width: 8%;
    }
}
@media screen and (max-width: 485px){
    header .d20 {
        width: 9%;
        height: 12%;
    }
}
@media screen and (max-width: 418px){
    header .d20 {
        width: 9%;
        height: 10%;
    }
}
@media screen and (max-width: 385px){
    header .d20 {
        width: 9%;
        height: 9%;
    }
}

.wrapper.style2.container.special-alt img {
    max-width:100%;
    max-height:100%;
}

.tutorial {
  list-style-type: decimal;
  list-style-position: inside;
}
.tutorial p {
  margin-bottom: 0px;
}
.image.featured.tutorialimg {
  width: 60%;
  margin-top: 2em;
}
#nosb {
  padding-top: 1em;
}
.tutorial i {
  font-style: italic;
}
.tutorial .fas, .tutorial .far{
  font-style: normal;
}
.codelabel {
  font-family:monospace;
  background-color: #f3f6fa;
  word-wrap: break-word;
  box-sizing: border-box;
}
.content pre {
  font-family:monospace;
  background-color: #f3f6fa;
  word-wrap: break-word;
  box-sizing: border-box;
  white-space:normal;
  margin-bottom: 1em;
  font-size: 85%;
}
@media screen and (max-width: 890px){
    .image.featured.tutorialimg {
      width: 100%;
    }
}
